@charset "UTF-8";

.btn-right-round {
	border-radius: 0 1.0em 1.0em 0;
}

.btn-left-round {
	border-radius: 1.0em 0 0 1.0em;
}

.highlight{
	background: #f9f22a;
    color: red;
    font-weight: bold;
}

.max-w-400 { max-width: 500px !important; }

/* 글자 점점표시 */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block !important;
    vertical-align: middle;
}