@charset "UTF-8";

textarea{
	resize : none;
}

/*** 넓이 ***/
.w-340 { width: 340px !important; }
.max-w-400 { max-width: 500px !important; }

/* 글자 점점표시 */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block !important;
    vertical-align: middle;
}

/*** bootstrap4 toggle ***/
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
	border-radius: 20rem; 
}
.toggle.ios .toggle-handle { 
	border-radius: 20rem; 
}

/*** divider  ***/
.hr-text {
	display: flex;
    align-items: center;
    margin: 2rem 0;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.6;
    color: #6e7582;
    height: 1px;
}
.hr-text:before {
	content: "";
	margin-right: .5rem;
}
.hr-text:after {
    content: "";
    margin-left: .5rem;
}
.hr-text:after, .hr-text:before {
	flex: 1 1 auto;
	height: 1px;
	background-color: currentColor;
	opacity: .1;
}

/*** 사이드 ***/
/* 서버용량  */
.sidebar-custom {
    color: #ffffff;
	padding: 1em;
	font-size: 9pt;
	height: 6rem !important;
}

/*** 테이블 ***/
/* 검색부분 */
.search-tools {
	padding: 6px 4px 0 8px;
}

/* 필수값 */
.form-label.required:after {
	content: "*";
	margin-left: .25rem;
	color: #cd201f;
}
/* 삭제 */
.del {
	text-decoration:line-through !important;
}

.card-del, .card-del .card-title {
	text-decoration:line-through !important;
}

.del-item, .del-item .fc-event-time, .del-item .fc-event-title {
	text-decoration:line-through !important;
	text-decoration-color: red !important;
	text-decoration-thickness: 1px !important;	
}

/* 게시판 상세 페이지 */
/* 이미지 */
.read-image-view {
	max-width: 100%;
	height: auto !important;
	display: inline-block !important;
}
.hover-left-border:hover{
	border-left-width: 0.25rem;
    border-left-color: #343a40;
}

.div-recomment {
	margin-left: 10px;
}

.div-modify-comment {
	margin-left: 10px;
}
.btn-comment-like, .comment-recomment {
	color: #000;
    font-weight: normal;
    font-size: 11pt;
}
.btn-comment-like:hover, .comment-recomment:hover {
	color: #000;
}
.attach-list-header-tools{
    margin-right: 0.375rem !important;
}
/* 첨부파일 전체 다운로드 버튼 */
.btn-attach-all-download {
	margin-top: 2px;
	font-size: .75rem !important;
}
/* 닉네임 */
.read-header-user {
	font-weight: bold;
}
/* 첨부파일 목록 링크 */
.attach-link {
	color: #000;
}
.attach-link:visited {
	color: #000;
}

/* 페이징 */
.bbs-pagination .page-item.active .page-link{
	background-color: #23272b !important;
    border-color: #1d2124 !important;
    color: #fff;
}

.bbs-pagination .page-link {
	color: #23272b;
}

.comment-pagination{
	padding-top: 22px !important;
}

.comment-pagination .page-item.active .page-link {
	background-color: #23272b !important;
    border-color: #1d2124 !important;
    color: #fff;
}

.comment-pagination .page-link {
	color: #23272b;
}

.btn-comment-title {
	border-radius: 0.5rem;
}
